language: php

php:
  - 7.3
  - 7.4
  - 8.0

before_script:
  - composer self-update
  - travis_retry composer update --no-interaction --no-ansi --no-progress --no-suggest --optimize-autoloader
  - composer install --prefer-source --no-interaction --dev
  - echo 'xdebug.mode = coverage' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

script:
  - composer test

after_success:
  - php vendor/bin/php-coveralls --verbose
